<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Todo List</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div id=wrapper>
    <form action="/" method="post">
      <input type="text" name="todo" placeholder="Add a todo...">
      <input type="submit" value="Add">
    </form>
    <div id=todoList>
      <form action="/completed" method="post">
        <ul>

          {{ #todos }}
          <li><button name="todo"  class="completeButton">Mark complete</button> {{ . }}</li>
          {{ /todos }}

        </ul>
      </form>
      <div>
        <div id=completedlist>
          <h2>Completed Tasks</h2>
          <ol>
            {{ #completed }}
            <li class="completedTasks">{{ . }}</li>
            {{ /completed }}
          </ol>
        </div>
      </div>
</body>

</html>
